config_mode: prod
dev_guild_id:

# Bot settings
bot:
  token: 
  prefix: 'o!'
  presence:
    message: API Abuse
    activity: watching
    type: dnd

# Verification server settings
server:
  port: 

# API
api:
  osu_v1:
    key: 
  osu_v2:
    client_id: 
    client_secret: 
    redirect_uri: 

# Database
database:
  host: 127.0.0.1
  dbname: 
  username: 
  password: 

# Emoji
emoji:
  online: <:online:516328785910431754>
  idle: <:idle:516328783347843082>
  dnd: <:dnd:516328782844395579>
  offline: <:offline:516328785407246356>

# Misc
misc:
  website: https://github.com/osu-Norge
  source_code: https://github.com/osu-Norge/osu-rank-tracker
