# Bot settings
bot:
  token: 
  prefix: '-'
  presence:
    message: Voldtekt av API-er
    activity: watching

# API
api:
  osu_v1:
    key:
  osu_v2:
    client_id:
    redirect

# Database
database: 

# Emoji
emoji:
  online: <:online:516328785910431754>
  idle: <:idle:516328783347843082>
  dnd: <:dnd:516328782844395579>
  offline: <:offline:516328785407246356>

# Misc
misc:
  website: https://github.com/osu-Norge
  source_code: https://github.com/osu-Norge/osu-rank-tracker