name: Test And Build BOT
on: [push]

jobs:        
  build-and-push:
    runs-on: ubuntu-latest
 
    steps:
    - uses: actions/checkout@v1        
    - name: Build the Docker image
      env:
        Repo : osu-Norge/osu_rank_tracker
        ref: ${{github.ref}}
      run: |
        branch="${ref##*/}"
        echo $branch
        docker build -t docker.pkg.github.com/$Repo/alpine:$branch -t $Repo:$branch-${{github.sha}} .       
 
    - name: Login to registry
      env:
        DOCKER_USERNAME: ${{ github.actor }}
        DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      run: echo $DOCKER_PASSWORD | docker login docker.pkg.github.com -u $DOCKER_USERNAME --password-stdin
      
    - name: Pushes the Docker image
      if: github.event_name != 'pull_request' && contains(github.ref, 'actions') != 'true'
      run: docker push docker.pkg.github.com/osu_rank_tracker/alpine
